@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    /* ... otros estilos de shadcn */
  }

  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 0 0% 100%;
    /* ... otros estilos */
  }
}